<h1>{{title}}</h1>
<div class="about">
    <h2> Information about the site:</h2>
    <p>
        Author : Rachana Patel  Date:29th June 2021
        This sit is about the portfolio of an author. Author Rachana Patel created this site as her first javascript project of collage.
        This her very first attampt of making website using javascript's ExpressJS and implementing the handlebars templating engine.
    </p>
</div>

<div class="about">
    <h2> Information about Author:</h2>
    <p>
        Author : Rachana Patel  
        I am a computer programmer student at Georgian Collage.I am a mother of 2 creative daughters who are creative like their mom.
        I loves to create new websits.I do work in many different languages like java, .net, c++, javascript.
        But in all of them I like javascript most along with HTML and CSS.In this website i have try to make my portfolio.
    </p>
</div>