<h1>{{title}}</h1>
<div class="contact">
    <h2>Author Name: Rachana Patel</h2>
    <p>
        Email: 200442618@student.georgianc.on.ca  <br>
        Linkin :<a href="https://www.linkedin.com/in/rachana-patel-3b92231a5/"> link </a>
    </p>
</div>