<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2>Hi, I'm Rachana.</h2>

<p>Computer Programmer student from Georgian collage Barrie, who loves creating new websites. </p>

<!-- free student-laptop image is from https://pixabay.com/ -->
<img src="/images/student-laptop.jpg" alt="Student with laptop" width="800" height="300">