<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Nevbar from W3c school code -->
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/index">Project</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
  </ul>

</nav>

    {{{body}}}

    <footer>
  <p>Author: Rachana Patel Student  Id: 200442618  Email: 200442618@student.georgianc.on.ca <br>
  Github for Assignment1 : <a href="https://github.com/RachanaPatel87/Javascript_ExpressPortfolioSite"> </a>
  Linkdin :<a href="https://www.linkedin.com/in/rachana-patel-3b92231a5/"> </a></p>
</footer>
  </body>
</html>
