<h1>{{title}}</h1>

<a class="project-list" href="https://github.com/RachanaPatel87/StudentManagementSystem.git">
<div class="projects">
  <h2>Student management System</h2>
  <p>This .net project is about managing student's personal information and marks data .</p>
</div>
</a>

<a class="project-list" href="https://github.com/RachanaPatel87/MidTermTest2.git">
<div class="projects">
  <h2>Blood Group Information System</h2>
  <p>This java project is about managing blood donner's information.</p>
</div>
</a>

<a class="project-list" href="https://github.com/RachanaPatel87/COMP1011Assignment2.git">
<div class="projects">
  <h2>Plant Information System</h2>
  <p> This project gives you all details information about all different kinds of plants.</p>
</div>
</a>